/* src/styles/CircleOfFifths.css */

.circle-of-fifths {
  display: flex;
  justify-content: center;
  margin: auto;
}

.circle-svg {
  width: 500px; /* Default width for mobile */
  height: 500px; /* Maintain square aspect ratio */
  margin: 10px;
}

.key-circle {
  fill: #ff6347;
  cursor: pointer;
  transition: fill 0.3s;
}

.key-circle:hover {
  fill: grey;
}

.key-circle.active {
  fill: #3b3561; /* Different color for the selected key */
}

.key-text {
  font-family: "Arial", sans-serif;
  font-weight: bolder;
  font-size: 12px;
  fill: #fff;
  pointer-events: none;
}

@media (max-width: 768px) {
  .circle-svg {
    width: 350px;
    height: 350px;
  }
}
