/* src/styles/CircleOfFifths.css */

.circle-of-fifths {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.key-circle {
  fill: #DCEDB9;
  cursor: pointer;
  transition: fill 0.3s;
}

.key-circle:hover {
  fill: grey;
}

.key-circle.active {
  fill: #fff; /* Different color for the selected key */
}

.key-text {
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  fill: #333;
  pointer-events: none;
}
