/* src/styles/Footer.css */

.footer {
  background-color: #f9f9f9;
  position: relative;
  bottom: 0;
  color: #000;
  padding: 20px 10px;
  margin-top: 5%;
  text-align: center;
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer p {
  margin: 10px 0;
  font-size: 1rem;
}

.footer p strong {
  color: #ff6347;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

.footer-nav a {
  color: #000;
  text-decoration: none;
  padding: 5px 10px;
  transition: color 0.3s, background-color 0.3s;
}

.footer-nav a:hover {
  color: #333;
  background-color: #ff6347;
  border-radius: 5px;
}

@media (min-width: 600px) {
  .footer-nav {
    flex-direction: row;
    gap: 15px;
  }
}
