.scale-display {
  max-height: 450px; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Enable vertical scrolling for overflow content */
  margin: 20px auto;
  width: auto;
  padding: 20px;
  background: #fff;
  color: #333;
  box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: "Arial", sans-serif;
  text-align: center;
}

.key-signature {
  margin-bottom: 2% !important;
}

.scale-display p {
  margin: 10px;
  padding: 3px;
  margin-top: -4%;
  font-style: italic;
}

.scale-display h2 {
  font-size: 24px;
}

.scale-name {
  text-transform: uppercase;
}

.scale-display ul {
  border-top: 2px solid #ff6347;
  border-bottom: 2px solid #ff6347;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.scale-display ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-size: 2rem;
  text-align: left;
}

.scale-display ul li:nth-child(odd) {
  background: #f9f9f9;
}

.scale-display ul li span {
  color: #555;
  font-size: 1.1rem;
}

.scale-display ul li span.note {
  font-weight: bold;
  color: #3b3561;
}

.notation-container {
  width: 100%;
}

@media (max-width: 768px) {
  .scale-display {
    padding: 15px;
    width: auto;
  }

  .scale-display h2 {
    font-size: 20px;
  }

  .scale-display ul li {
    font-size: 1.5rem;
  }
}

.note-highlight {
  fill: orange !important;
  stroke: orange !important;
}
