/* Welcome Container Styles */
.welcome-container {
  scroll-behavior: smooth;
  max-width: 90%;
  margin: auto;
  padding: 2rem 1rem;
  background: #ffffff;
  text-align: center;
}

.welcome-container h1 {
  font-size: 2.25rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.welcome-container h2 {
  font-size: 1.35rem;
  margin-top: -2%;
  color: #ff6347;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.welcome-container p {
  font-size: 1.125rem;
  color: #666;
  margin-bottom: 1.875rem;
}

.welcome-container a {
  color: #ff6347;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.welcome-container a:hover {
  color: #333;
}

/* Features Styles */
.features {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

.feature-link {
  text-decoration: none;
  color: inherit;
  flex: 1 1 calc(33.333% - 1.25rem); /* Three columns with a gap */
  max-width: calc(33.333% - 1.25rem);
  box-sizing: border-box;
}

.feature {
  padding: 1.25rem;
  background: #ffffff;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature:hover {
  transform: translateY(-0.3125rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.feature h3 {
  font-size: 1.625rem;
  color: #333;
  margin-bottom: 0.9375rem;
}

.feature p {
  font-size: 1.125rem;
  color: #666;
}

.feature-icon {
  font-size: 2.5rem;
  color: #ff6347;
  margin-bottom: 0.625rem;
}

.instruction {
  font-style: italic;
  color: #999;
  margin-top: 1.25rem;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .feature-link {
    flex: 1 1 calc(50% - 1.25rem); /* Two columns with a gap */
    max-width: calc(50% - 1.25rem);
  }

  .welcome-container h1 {
    font-size: 2rem;
  }

  .welcome-container p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .feature-link {
    flex: 1 1 calc(50% - 1.25rem); /* Two columns with a gap */
    max-width: calc(50% - 1.25rem);
  }

  .welcome-container h1 {
    font-size: 1.75rem;
  }

  .welcome-container h2 {
    margin-top: -7%;
  }

  .welcome-container p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .feature-link {
    flex: 1 1 100%; /* One column */
    max-width: 100%;
  }

  .welcome-container h1 {
    font-size: 1.5rem;
  }

  .welcome-container p {
    font-size: 0.875rem;
  }
}
